# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Build outputs
*.class
*.log
*.tmp
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
out/
.vscode/
.classpath
.project
.settings/
*.sublime-workspace
*.sublime-project

# IDE específicos já no seu arquivo
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Optional (se usar Node/JS)
node_modules/
dist/
*.db